<h2><%= link_to blog_entry.title, blog_entry_permalink(blog_entry) %></h2>
<%=image_tag(blog_entry.blog_entry_image&.url(:large).blob.url, size: '250') rescue nil %>
<div class="blog_entry_summary">
  <%== blog_entry.entry_summary.html_safe %>
  <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(blog_entry) %></span>
</div>

<%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => blog_entry} %>
